{% extends "base.html" %}

{% block main_content %}

<h3 class="mt-5 mb-4">Detalles del libro #{{ object.id }}</h3>

<div class="row">
	<div class="col-2 font-weight-bold">Título del libro</div>
	<div class="col-6 font-weight-normal">{{ object.titulo }}</div>
</div>
<div class="row">
	<div class="col-2 font-weight-bold">Año de publicación</div>
	<div class="col-6 font-weight-normal">{{ object.publicacion }}</div>
</div>

<!-- Lista/tabla de libros del autor -->

{% if object.autores.all %}
<h5 class="mt-5">Autor/es del libro</h5>

<!-- Tabla -->
<table class="table mt-2 ">
  <thead class="thead-light">
    <tr>
      <!--th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
			{% for field in fields %}
			<th scope="col">{{ field }}</th>
			{% endfor %}
			-->
			<th scope="col">#</th>
			<th scope="col">Autor</th>
			<!--th scope="col">Fecha de nacimiento</th-->
			<!-- Dos columnas extra: para los botones de editar y borrar -->
			<th scope="col"> <!--Acciones--> </th>
    </tr>
  </thead>
  <tbody>
		{% for author in object.autores.all%}
			<tr>
				<th scope="row">{{ author.id }}</th>
				<td>{{ author.nombre }}</td>
				<td>
						<a href="{% url 'author_details' pk=author.id %}" class="btn btn-info">Ver detalles</a>
						{% if user.is_authenticated and user.is_staff%}
						<a href="{% url 'update_author' pk=author.id %}" class="btn btn-secondary">Editar</a>
						<a href="{% url 'delete_author' pk=author.id %}" class="btn btn-danger">Borrar</a>
						{% endif %}
				</td>
			</tr>
		{% endfor %}
  </tbody>
</table>
{% else %}
<h5 class="mt-5">No se han encontrado autores de este libro</h5>
{% endif %}

{% endblock %}
