{% extends "base.html" %}

{% block main_content %}

{% if not object_list %}
<h3 class="mt-5">¡Vaya!</h3>
<p class="lead">Parece que no hay préstamos que mostrar.</p>
<a href="{% url 'create_loan'%}" class="btn btn-info">Añadir préstamo</a>
{% else %}
<h3 class="mt-3">Préstamos registrados</h3>
<div class="row mt-4">
	<!--form class="col-auto" action="/" method="get">
		<div class="form-row align-items-center">
			<div class="col-auto mb-2">
				<label class="sr-only" for="passwd">Buscar</label>
				<input type="text" class="form-control" name="search" placeholder="Buscar" required>
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-info mb-2">Buscar</button>
			</div>
		</div>
	</form-->
	<div class="col-auto">
		<a href="{% url 'create_loan'%}" class="btn btn-info mb-2">Añadir préstamo</a>
	</div>
</div>

<!-- Tabla -->
<table class="table mt-2 ">
  <thead class="thead-light">
    <tr>
      <!--th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
			{% for field in fields %}
			<th scope="col">{{ field }}</th>
			{% endfor %}
			-->
			<th scope="col">#</th>
			<th scope="col">Usuario</th>
			<th scope="col">Libro</th>
			<th scope="col">Fecha</th>
			<!--th scope="col">Fecha de nacimiento</th-->
			<!-- Dos columnas extra: para los botones de editar y borrar -->
			<th scope="col"> Acciones </th>
    </tr>
  </thead>
  <tbody>
		{% for loan in object_list %}
			<tr>
				<th scope="row">{{ book.id }}</th>
				<td>{{ loan.usuario }}</td>
				<td>{{ loan.libro.titulo }}</td>
				<td>{{ loan.fecha }}</td>
				<td>
						<a href="{% url 'book_details' pk=loan.libro.id%}" class="btn btn-info">Ver libro</a>
						<a href="{% url 'delete_loan' pk=loan.id%}" class="btn btn-danger">Borrar</a>
				</td>
			</tr>
		{% endfor %}
  </tbody>
</table>



{% endif %} <!-- No results -->

{% endblock %}
