{% extends "base.html" %}

{% block main_content %}

<h3 class="mt-5 mb-3">Selección de tabla</h3>

<form action="{% url 'select_table' %}" method="post">{% csrf_token %}
	<div class="form-group">
		<label for="collection-select">Elija una tabla</label>
		<select class="form-control" name="table_name">
			{% for table, name in tables.items %}
			<option value="{{ name }}">{{ table }}</option>
			{% endfor %}
		</select>
	</div>
	<input type="submit" class="btn btn-info" value="Aceptar">
</form>

{% endblock %}
